<!-- holiday_2016_landing_page.liquid -->
<div id="page" class="desktop-12 tablet-6 mobile-3">
	<div class="section-title lines">
		<h2 class="trends-title">Trends + Features</h2>
	</div>
	<div class="rte">
		<div id="trends-page fs-row">
			<div class="trends-left fs-lg-half">
				<a href="http://www.ishine365.com/pages/boutiques"> 
					<img alt="" src="https://cdn.shopify.com/s/files/1/0673/5777/files/trendsArtboard_2.jpg?14747213640428636518" style="float: left;" /></a> <a href="http://blog.ishine365.com">
					<img alt="" src="https://cdn.shopify.com/s/files/1/0673/5777/files/trendsArtboard_1.jpg?14747213640428636518" style="float: left; margin-top: 14px;" />
				</a>
			</div>
			<div class="trends-right fs-lg-half">
				<a href="http://www.ishine365.com/pages/lookbooks"> 
					<img class="trends-lookbook" alt="" src="https://cdn.shopify.com/s/files/1/0673/5777/files/trendsshe_loves.jpg?14747213640428636518" style="margin-left: 20px;" /> 
				</a>
			</div>
		</div>
	</div>
</div>
<style>
#trends-page {
    width: 100%;
    height: 100%;
}
  
  .trends-left {
    width: 45%;
    float: left;
    margin: 10px 10px;
}
  
  .trends-right {
    width: 46%;
    float: left;
    margin: 10px 10px;
}
  
  h2.trends-title {
    font-size: 30px !important;
}
  
  #breadcrumb {
    display:none;
  }
</style>