/*navigation_redesign_final_rachel_queries.css*/

@media screen and (min-width: 1220px) {
  	ul#footer-icons li {
      margin: 0 0px;
	}
}

@media screen and (max-width: 1219px) {
  	ul#cart {
    	top: -10px;
	}
    #hamburger {
	    background: #fff;
	    border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
	    opacity: 0.9;
	    top: 5%;
	    display:block !important;
	    margin-top: -1.5%;
	}
    ul#cart li.cust {
      display: none;
    } 
    span.mm-log {
	    float: left;
	    margin-left: 0;
  	}
    i.fa.fa-user.fa-menu {
	    float: right;
	    margin-right: 2%;
  	}
    header {
	    position:fixed;
	    width:100%
    }
    #logo-container {
    	padding-top: 1%;
    }
    .feedback-button {
   		width:240px;
  	}
    ul#footer-icons li {
      	margin: 0 0px;
	}
    .hp-slide {
    	margin-top: 3%;
    }
    #logo-container {
    	padding-top: 0%;
	}
    ul#main-nav li#logo a img {
	    max-width: 48px;
	    padding-top: 33%;
	}
	ul#cart li {
    	padding: 4px 0 0 17px;
	}
	.mm-currency {
    	display:none !important;
  	}
}/*END media screen and (max-width: 1219px)*/


@media screen and (max-width: 980px) and (min-width: 741px) {
 	.homepage-promo {
        margin-left: 12% !important;
    } 
  /* Globals */
	ul#social-icons { 
	 	display: none; 
	}  
  	#hello { 
  		width: 100%; 
  	}
    .quick-shop { 
    	width: 100%; 
    }
    .show { 
    	text-align: center; 
    	width: 100%; display: 
    	block; margin-bottom: 20px; 
    }
    #sidebar { 
    	display: none; 
    	text-align: center; 
    }
    #sidebar.open { 
    	display: block; 
    }
    #sidebar ul li { padding: 5px 0; } 

    .flex-caption { display: none; }

    .first { clear: none; }
    .product-index:nth-child(2n+1), .article-index:nth-child(2n+1) { clear: left; }
    #pre-sidebar { text-align: center; }
    .hp-slide {
    	margin-top: 10%;
  	}
    .homepage-promo.desktop-6.mobile-3 {
    	left:10%;
    }
    .homepage-promo.desktop-4.mobile-3 {
    	left: 10%;
    }  
    nav {
    	position:fixed;   
  	} 
  	a#hamburger {
    	left: 3px;
    }
    .hp-slide {
    	margin-top: 7%;
  	}
    .hp-margin {
  		margin-top: 9%;
  	}
  	div#logo-container {
    	width: 100%;
	}
    section.homepage-section {
    	margin-top: 5%;
  	}
  	ul#main-nav {
    	max-width: 65%;
	}
	ul#main-nav li#logo a img {
	    padding-top: 27%;
	    margin-left: -163%;
	}
	.currency-picker__wrapper {
    	margin-top: -3%;
	}
}/* END media screen (max-width: 980px) and (min-width: 741px)*/

@media screen and (max-width: 740px) and (min-width: 500px) { 
  	ul#cart {
    	top: 10px;
	}
    .trends-left {
      width: 100% !important;
      float: left !important;
      margin: 10px 10px !important;
    }
    .trends-right {
      width: 100% !important;
      float: left !important;
      margin: 10px 10px !important;
    }
    img.trends-lookbook {
      margin-left:0px !important;
    }
    ul#main-nav {
    	max-width: 65%;
    }
    #hamburger {
      background: #fff;
      border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
      opacity: 0.9;
      top: 4%;
      display:block !important;
    }
    .mobile-hide { display: none; }

    .product-modal { display: none; }

    /* Globals */

    ul#social-icons, ul#social-icons li { text-align: center; margin-bottom: 0;}  
    ul#cart {
    	padding-top: 0;
    }
    /*ul#cart, ul#cart li { text-align: center; }*/
    ul#cart .selecter { max-width: 100%; }

    ul#cart li.cart-overview:after { content: initial;}

    ul#cart li.seeks { display: none; }
    ul#cart li.seeks-mobile { display: inline; }
    #hello { width: 100%; }

    .product-modal { display: none! important; }
    ul#cart li.cart-overview:hover #crt { display: none! important; }

    .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
    #sidebar { display: none; text-align: center; }
    #sidebar.open { display: block; }
    #sidebar ul li { padding: 5px 0; }

    .flex-caption { display: none; }

    #product-photos { display: none; } 
    #mobile-product { margin-bottom: 20px; display: block; }

    #page-sidebar { margin-top: 20px; text-align: center; }

    #looked-at { display: none; }  

    #cart-notes { display: none; }
    .first { clear: none; }
    .product-index:nth-child(2n+1), .article-index:nth-child(2n+1) { clear: left; }

    #basket-right { text-align: center; }

    #shopping-cart thead { display: none; }
    #shopping-cart td { clear: left; display: block; }

    .cart-title {
      display: block;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .cart-image {
      display: block;
      text-align: center;
    }  
    td.cart-price {
      text-align: center;
    }  
    td.cart-price, td.cart-remove, td.cart-quantity, .cart-total {
      clear: none! important;
      float: left;
      width: 23%;
      margin: 1%;
      display: inline-block! important; 
      line-height: 48px;
      border-bottom: 0! important;
    }
    #shopping-cart tr {
      border-bottom: 1px solid {{ settings.dotted_color }};
    }  
  	.qab_ctrl{
      padding-top: 8%;
  	} 
    .hp-slide {
    	margin-top: 8%;
	}
    .hp-margin {
    	margin-top: 11%;
	}
  	section.homepage-section {
    	margin-top: 5%;
    }
    ul#main-nav {
    	max-width: 59%;
	}
    ul#main-nav li#logo a img {
    	padding-top: 24%;
    	margin-left: -55%;
	}
	ul#cart li {
	    padding: 15px 0 0 17px;
	}
	.currency-picker__wrapper {
    	margin-top: 12%;
	}
	div#logo-container {
    	width: 100%;
	}
}/*END media screen and (max-width: 740px) and (min-width: 500px)*/


@media screen and (max-width: 499px) {  
    ul#cart {
        top: -5px;
      	padding-top: 0;
    }   
    
    .homepage-promo.desktop-6.mobile-3 {
    left: 0; 
	}
    
    .homepage-promo.desktop-4.mobile-3 {
      left:0;
    }
    
    .icn2 {
    -webkit-transition: opacity 1s ease-out;
    width: 55px;
    height: 55px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: -4px;
    right: -2px;
    text-align: center;
    line-height: 60px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    }

	body.index .flexslider {
     display: none;
	} 
    
    .mobile-home-slideshow {
      display:block;
    }
    
    .trends-left {
      width: 95% !important;
      float: left !important;
      margin: 10px 10px !important;
    }

    .trends-right {
      width: 95% !important;
      float: left !important;
      margin: 10px 10px !important;
    }

    img.trends-lookbook {
      margin-left:0px !important;
    }
    #hamburger {
      background: #fff;
      border-bottom: 1px solid rgba( 255, 255, 255, 0.5 );
      opacity: 0.9;
      top: 0;
      display:block !important;
    }  
    .mobile-hide { display: none; }

    span.layout-header-cart {
      display: none !important;
    }

    .home-icon {
      display:none !important;
    }

    .cust {
      display:none !important;
    }

    header {
      background-color: rgba(255, 255, 255, 0.92)!important;
    }

    #logo {
      margin-bottom: 0px !important;
      margin-top:0px !important;
    }

    .logo-img {
      max-width:80px !important;
    }

    section.homepage-section {
      margin-top:0px !important;
    }

    ul#popups li {
      margin-left:0px !important;
    }
  
    /* Globals */
    ul#social-icons, ul#social-icons li { text-align: center; margin-bottom:0; }  
    ul#cart li.cart-overview:after { content: initial;}
    ul#cart li.cart-overview:hover #crt { display: none! important; }
    ul#cart .selecter { max-width: 100%; }
    ul#cart li.seeks { display: none; }
    ul#cart li.seeks-mobile { display: inline; }
    #hello { width: 100%; }  
    .product-modal { display: none! important; }
    .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
    #sidebar { display: none; text-align: center; }
    #sidebar.open { display: block; }  
    #sidebar ul li { padding: 5px 0; }
    .flex-caption { display: none; }
    #product-photos { display: none; }  
    #mobile-product { margin-bottom: 20px; display: block; }
    #page-sidebar { margin-top: 20px; text-align: center; }
    #looked-at { display: none; }
    #cart-notes { display: none; }
    #subscribe_popup {
      width: 100%;
    }
    .first { clear: none; }
    .product-index:nth-child(2n+1), .article-index:nth-child(2n+1) { clear: left; }  
    #basket-right { text-align: center; }
    #shopping-cart thead { display: none; }
    #shopping-cart td { clear: left; display: block; }

    .cart-title {
      display: block;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .cart-image {
      display: block;
      text-align: center;
    }  
    td.cart-price {
      text-align: center;
    }  
    td.cart-price, td.cart-remove, td.cart-quantity, .cart-total {
      clear: none! important;
      float: left;
      width: 23%;
      margin: 1%;
      display: inline-block! important; 
      line-height: 48px;
      border-bottom: 0! important;
    }
    #shopping-cart tr {
      border-bottom: 1px solid {{ settings.dotted_color }};
    }
	.qab_ctrl{
      padding-top: 10%;
  	}  
    .hp-margin {
    	margin-top: 15%;
	}
}/*END media screen and (max-width: 499px)*/

/*SPECIALITY QUERIES FOR NAVBAR REDESIGN _____________________________________________ */
@media screen and (min-width: 551px){
  .mm-currency {
    display:none !important;
  }
}

@media screen and (max-width: 550px){
    ul#main-nav {
    	max-width: 58%;
	}
    .logo-img {
    	max-width: 50px !important;
	}
  	.currency-picker__wrapper {
    	margin-top: -1%;
	}
  	select.currency-picker {
    	height: 20px;
    	margin-top: 10px;
	}
  	.nav-currency {
    	display:none !important;
  	}
  	.currency-picker {
    	font-size: 14px;
    	font-weight: 500;
    	color: #484848;
    	background-color: #c9c9c9;
    	float: right;
	}
    #hamburger {
    	top: 3.5%;
    }
  	ul#cart {
        top:0px;
	}
  	.mm-currency {
    	display:block !important;
  	}
  	ul#main-nav li#logo a img {
    	padding-top: 24%;
    	margin-left: -4%;
	}
	ul#cart li {
    	padding: 23.5px 13px 0 11px;
	}
}

@media screen and (max-width: 429px){
    .hp-margin{
  		margin-top: 22%;
    }
    ul#main-nav li#logo a img {
    	padding-top: 25%;
    	margin-left: 17%;
	}
}

@media screen and (max-width: 375px){
  	ul#main-nav li#logo a img {
    	padding-top: 27%;
    	margin-left: -4%;
	}
	ul#cart li {
    	padding: 24px 1px 0 12px;
	}
}

@media screen and (max-width: 320px){
	div#logo-container {
    	width: 100%;
	}
	ul#main-nav li#logo a img {
	    padding-top: 34%;
	    margin-left: 10%;
	}
	ul#cart li {
    	padding: 26px 3px 0 8px;
	}
}

@media screen and (max-width: 289px){
	ul#main-nav {
    	display:none;
	}
}

